{% extends "main/index.html" %}
{% load static %}

{% block title %}Faculties{% endblock %}

{% block content %}
<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-custom justify-content">
    <div class="back-button mb-3 mt-2">
        <a href="{% url 'index' %}" class="btn btn-warning btn-lg">Back</a>
    </div>
    <a class="navbar-brand ml-5">FACULTY MEMBERS</a>
</nav>

<!-- Body -->
<div class="container-fluid mt-3">
    <div id="personnel-list" class="d-flex flex-column align-items-center">
        <!-- Key Persons Section -->
        <div id="key-persons-container" class="row justify-content-center mb-5"></div>

        <!-- Full-Time Section -->
        <h3 class="text-center" id="full-time-header" style="margin-top: 50px;">Full-Time</h3>
        <div id="full-time-container" class="row justify-content-center mb-5"></div>

        <!-- Part-Time Section -->
        <h3 class="text-center" id="part-time-header" style="margin-top: 50px;">Part-Time</h3>
        <div id="part-time-container" class="row justify-content-center"></div>
    </div>
</div>

<!-- Modal -->
<div id="personnelModal" class="modal" onclick="hideModal(event)">
    <div class="modal-content bg-warning" onclick="event.stopPropagation()">
        <span class="close" onclick="hideModal()">&times;</span>
        <div class="modal-body">
            <img id="modal-image" class="modal-image" alt="Personnel Image">
            <h5 id="modal-name"></h5>
            <p id="modal-position"></p>
            <p id="modal-location"></p>
            <p id="modal-contact"></p>
          
        </div>
    </div>
</div>


<!--script-->
<script src="{% static 'js/personnel.js' %}"></script>

{% endblock %}
