<div class="text-dark">
    <h4>Room No. {{ room.number }}</h4>
    <p id="room-status"></p>

    {% if schedule %}
        {% for roomschedule in schedule %}
            <div class="border pt-3 pb-1 px-4 rounded">
                <p class="font-weight-bold">
                    Section:
                    <span class="font-weight-normal">{{ roomschedule.section }}</span>
                </p>
                <p class="font-weight-bold">
                    Class Name:
                    <span class="font-weight-normal">{{ roomschedule.class_name }}</span>
                </p>
                <p class="font-weight-bold">
                    Supervisor:
                    <span class="font-weight-normal">{{ roomschedule.supervisor }}</span>
                </p>
                <p class="font-weight-bold">
                    Date:
                    <span class="font-weight-normal">{{ roomschedule.date }}</span>
                </p>
                <p class="font-weight-bold">
                    Time:
                    <span class="font-weight-normal">{{ roomschedule.time_start|date:"h:i A" }} - {{ roomschedule.time_end|date:"h:i A" }}</span>
                </p>
            </div>
        {% endfor %}
    {% else %}
        <p>No Schedule</p>
    {% endif %}
</div>
