{% extends "main/index.html" %}

{% load static %}

{% block title %}Navigation{% endblock %}

{% block content %}
 <!--NAVBAR-->
<nav class="navbar navbar-expand-lg navbar-custom  justify-content-between">
    <div class="back-button mb-3 mt-2">
    <a href="{% url 'index' %}" class="btn btn-warning btn-lg">Back</a>
</div>
    <a class="navbar-brand">Second Floor</a>
    <a class="nav-link" href="{% url 'navigation' %}">1ST FLOOR</a>
    <a class="nav-link" href="{% url 'secfloor' %}">2ND FLOOR</a>
    <a class="nav-link" href="{% url 'thrdfloor' %}">3RD FLOOR</a>
    <a class="nav-link" href="{% url 'fourthfloor' %}">4TH FLOOR</a>
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>

<div class="container mt-5">
    <div class="floor-plan" id="floorPlan">
        <img src="{% static 'images/3rdfl.svg' %}" alt="Floor Plan">
    </div>
</div>

<!--Script-->
<script>
    var redirectUrl = "{% url 'index' %}";
</script>
<script src="{% static 'js/infoscript.js' %}"></script>
{% endblock %}


